@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background: #bfc4e9;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

i {
    font-size: 24px;
}

@media screen and (max-width:375px) {
    .container {
        max-width: 375px;
    }
}